{% load staticfiles %}
<div class="card">
    <div class="card-body">
        <div class="card-row">
            <h4 class="card-title">Все кроме</h4>
            <p class="card-text">Исключите из поиска номера, которые
                содержат определенное число или цифру.</p>
        </div>

        <form action="{% url 'filter' 6 %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="2" class="col-sm-12">Введите до 4
                    цифр:</label>
                <input id=2 type="text" class="form-control"
                       name="number">
            </div>
            <div class="form-group">
                <button class="btn btn-green float-left"
                        type="submit">Подобрать
                </button>
                <img src="{% static 'choose_phone/img/icons/exceptnum.png' %}"
                     class="float-right img-medium" alt="">
            </div>
        </form>
    </div>
</div>
