{% load staticfiles %}
<div class="card">
    <div class="card-body">
        <div class="card-row">
            <h4 class="card-title">Красивый хвост</h4>
            <p class="card-text">Подберите себе оригинальный номер
                телефона по последним цифрам.</p>
        </div>
        <form action="{% url 'filter' 3 %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="1" class="col-sm-12">Введите 4
                    цифры</label>
                <input id=1 type="text" class="small-input disabled"
                       value="X" disabled>
                <input id=1 type="text" class="small-input disabled"
                       value="X" disabled>
                <input id=1 type="text" class="small-input disabled"
                       value="X" disabled>
                -
                {{ beautiful_tail_form.number1 }}
                {{ beautiful_tail_form.number2 }}
                {{ beautiful_tail_form.number3 }}
                {{ beautiful_tail_form.number4 }}
            </div>
                <button class="btn btn-green float-left"
                        type="submit">Подобрать
                </button>
                <img src="{% static 'choose_phone/img/icons/xvost.png' %}"
                     class="float-right img-medium" alt="">
        </form>
    </div>
</div>

