{% load staticfiles %}
<div class="card">
    <div class="card-body">
        <div class="card-row">
            <h4 class="card-title">Любимое число</h4>
            <p class="card-text">Выберите номер, в котором
                содержится ваше любимое число.</p>
        </div>
        <form action="{% url 'filter' 2 %}" method="post" id="filter2Form">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-12">{{ favorite_number_form.number.label }}</label>
                {{ favorite_number_form.number }}
                {{ favorite_number_form.number.errors }}
            </div>
            <div class="form-group">
                <button class="btn btn-green float-left" type="submit">Подобрать
                </button>
                <img src="{% static 'choose_phone/img/icons/lubnum.png' %}"
                     class="float-right img-medium" alt="">
            </div>
        </form>
    </div>
</div>
