{% load staticfiles %}
<div class="card">
    <div class="card-body">
        <div class="card-row">
            <h4 class="card-title">Магическое число</h4>
            <p class="card-text">Узнайте свое магическое число по
                дате рождения и подберите телефонный номер,
                основываясь на принципах науки нумерологии.</p>
        </div>
        <form action="{% url 'filter' 8 %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-12">{{ magic_number_form.magic_day.label }}</label>
                {{ magic_number_form.magic_day }}
                {{ magic_number_form.magic_month }}
                {{ magic_number_form.magic_year }}
                =
                {{ magic_number_form.magic_number }}
            </div>
            <div class="form-group">
                <button class="btn btn-green float-left" type="submit">Подобрать
                </button>
                <img src="{% static 'choose_phone/img/icons/mchislo.png' %}"
                     class="float-right img-medium" alt="">
            </div>
        </form>
    </div>
</div>