{% load staticfiles %}
<div class="card">
    <div class="card-body">
        <div class="card-row">
            <h4 class="card-title">Похожий номер</h4>
            <p class="card-text">Введите свой номер телефона и подберите похожие
                номера для родных и близких.</p>
        </div>
        <form action="{% url 'filter' 7 %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="1"
                       class="col-sm-12">{{ similar_number_form.number1.label }}</label>
                (
                <input id=1 type="text" class="small-input disabled"
                       value="X" disabled>
                <input id=1 type="text" class="small-input disabled"
                       value="X" disabled>
                <input id=1 type="text" class="small-input disabled"
                       value="X" disabled>
                )
                -
                {{ similar_number_form.number1 }}
                {{ similar_number_form.number2 }}
                {{ similar_number_form.number3 }}
                -
                {{ similar_number_form.number4 }}
                {{ similar_number_form.number5 }}
                {{ similar_number_form.number6 }}
                {{ similar_number_form.number7 }}
            </div>
            <button class="btn btn-green float-left"
                    type="submit">Подобрать
            </button>
            <img src="{% static 'choose_phone/img/icons/mini_alikenum.png' %}"
                 class="float-right img-medium" alt="">
        </form>
    </div>
</div>
