{% load staticfiles %}
<form action="{% url 'filter' 4 %}" method="post">
    <div class="row">
        <p>Номер, который легко запомнить в виде имени, названия или любого
            слова.</p>
    </div>
    <div class="row">
        {% csrf_token %}
        <div class="col-auto">
            <label>{{ form.word.label }}</label>
            {{ form.word }}
        </div>
        <div class="col-auto">
            <button class="btn btn-green float-left margin-bottom"
                    type="submit">Подобрать
            </button>
        </div>
</form>

