{% load staticfiles %}
<form action="{% url 'filter' 5 %}" method="post">
    {% csrf_token %}
    <div class="row">
        <p>Номер, содержащий цифры важной для
            вас даты, например, дня рождения или свадьбы.</p>
    </div>
    <div class="row">
        <div class="col-auto">
            <label class="col-sm-12">{{ form.day.label }}</label>
            {{ form.day }}
            {{ form.month }}
            {{ form.year }}
        </div>
        <div class="col-auto">
            <button class="btn btn-green float-left margin-bottom"
                    type="submit">Подобрать
            </button>
        </div>
    </div>
</form>
