{% load staticfiles %}
<form action="{% url 'filter' 7 %}" method="post">
    {% csrf_token %}
    <div class="row">
        <p>Введите свой номер телефона и подберите похожие
            номера для родных и близких.</p>
    </div>
    <div class="row">
        <div class="col-auto">

            <label for="1"
                   class="col-sm-12">{{ form.number1.label }}</label>
            (
            <input id=1 type="text" class="small-input disabled"
                   value="X" disabled>
            <input id=1 type="text" class="small-input disabled"
                   value="X" disabled>
            <input id=1 type="text" class="small-input disabled"
                   value="X" disabled>
            )
            -
            {{ form.number1 }}
            {{ form.number2 }}
            {{ form.number3 }}
            -
            {{ form.number4 }}
            {{ form.number5 }}
            {{ form.number6 }}
            {{ form.number7 }}
        </div>
        <div class="col-auto">
            <button class="btn btn-green float-left margin-bottom"
                    type="submit">Подобрать
            </button>
        </div>
    </div>
</form>
