body {
    background: #ededed;
}

h1, h4 {
    color: #00b956;
    font-family: graphiklight, helvetica, sans-serif;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

label {
    color: #999;
}

a {
    margin-top: 20px;
}

a:hover {
    color: white;
}

a.btn.btn-default {
    padding: 0;
    margin: 0;
    max-height: 60px;
    vertical-align: baseline;
}

p {
    margin: 0;
}

input.form-control {
    width: 210px;
    height: 40px;

}

.container-fluid {
    max-width: 1520px;
    padding: 0 40px;
}

.card-body {
    padding: 4px 20px 20px;
}
.card-row {
    margin-bottom: 15px;
    max-width: 1414px;
}

.card-row:after {
    content: '';
    display: block;
    clear: both;
    padding-bottom: 15px;
}

.card-text {
    min-height: 72px;
}

.row {
    margin: 0;
}

.col-lg-3, .col-md-6, .col-sm-6, .col-sm-12, .col-xs-12 {
    margin: 3px 0;
    padding: 0 3px;
}

.col-lg-2, .col-md-2, .col-sm-4 {

}

.col-lg-2 {
    max-width: 18%;
}

.btn-green {
    color: #fff;
    background-color: #00b956;
    border-color: #00b956;
    border-radius: 25px;
    padding: 6px 30px;
}

.small-input {
    width: 28px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.small-select {
    width: 79px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #fff;
    background-image: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    height: 70px;
    position: relative;
    padding: 10px 12px;
    width: 100%;
}

.btn-left_part {
    width: 38px;
    height: 38px;
    /*position: absolute;*/
    /*left: 18px;*/
    /*top: 10px;*/
    display: inline-block;
}

.btn-middle_part {
    display: inline-block;
    /*max-width: 56%;*/
    height: 38px;
    color: #333;
}

.btn-right_part {
    width: 38px;
    height: 38px;
    /*position: absolute;*/
    /*left: 18px;*/
    /*top: 10px;*/
    display: inline-block;
}

.img-medium {
    width: 60px;
    height: 60px;
}

.btn-img:before {
    content: "";
    width: 18%;
    height: 27%;
    position: absolute;
    left: 10px;
    top: 20px;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-img:after {
    content: "\2705";
    color: #00b956;
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 14px;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.img-word:before {
    background-image: url('/static/choose_phone/img/icons/mini_namednum.png');
    background-size: 100%;
}

.btn.btn-default {
    height: 60px;
    font-size: 14px;
}

.btn-left-part {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}

.btn-img {
    display: inline-block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    line-height: 38px;
    vertical-align: middle;
}

p.btn-paragraph {
    display: inline-block;
    max-width: 56%;
    margin-left: 15px;
    vertical-align: middle;
    color: #333;
    line-height: 20px;
}

.list-inline-item {
    position: relative;
    z-index: 0;
    display: block;
    float: left;
    width: 19%;
    height: 60px;
    margin: 0 .5% 10px;
    padding: 0;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-item-block {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-item:hover {
    border-color: #333;
    z-index: 2;
}

.menu-item-first {
    margin-left: 0;
}

/*.btn-img {*/
/*padding: 0;*/
/*}*/

