body {
    background: #ededed;
}

h1, h4 {
    color: #00b956;
    font-family: sans-serif;
}

label {
    color: #999;
}

a:hover {
    color: white;
}

input.form-control {
    width: 210px;
    height: 40px;

}

.container-fluid {
    max-width: 1520px;
    padding: 0 40px;
}

.card-body {
    padding: 4px 20px 20px;
}

.card-row {
    margin-bottom: 15px;
    max-width: 1414px;
}

.card-text {
    min-height: 72px;
}

.row {
    margin: 0;
}

.col-lg-3, .col-md-6, .col-sm-6, .col-sm-12, .col-xs-12 {
    margin: 3px 0;
    padding: 0 3px;
}

.btn-green {
    color: #fff;
    background-color: #00b956;
    border-color: #00b956;
    border-radius: 25px;
    padding: 6px 30px;
}

.small-input {
    width: 28px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}

.disabled {
    color: #999
}

.small-select {
    width: 79px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #fff;
    background-image: none;
}

.img-medium {
    width: 60px;
    height: 60px;
}

button {
    margin-top: 20px;
}

