{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'choose_phone/css/choose_phone.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="card-row">
                    <h1 class="card-title">Подобрать номер</h1>
                    <p class="card-text">Предлагаем подобрать вам
                        уникальный, красивый
                        номер телефона! Вы можете посмотреть все номера,
                        представленные
                        в
                        интернет-магазине или воспользоваться один из
                        способов
                        поиска
                        подходящего именно для вас красивого номера. Для
                        этого
                        воспользуйтесь предложенными алгоритмами поиска
                        номера.</p>
                </div>
                <div class="card-row">
                    <ul class="list-inline">
                        <li class="list-inline-item menu-item menu-item-first">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_full.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Все номера</p>
                            </a>
                        </li>
                        <li class="list-inline-item menu-item">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/lubnum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Любимое число</p>
                            </a>
                        </li>
                        <li class="list-inline-item menu-item">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/xvost.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Красивый хвост</p>
                            </a>
                        </li>
                        <li class="list-inline-item menu-item">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/namednum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Подбор по слову</p>
                            </a>
                        </li>
                        <li class="list-inline-item menu-item">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_datenum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Подбор по дате</p>
                            </a>
                        </li>
                        <li class="list-inline-item menu-item menu-item-first">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_exceptnum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Все кроме</p>
                            </a>
                        </li>
                        <li class="list-inline-item menu-item">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_alikenum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Похожий номер</p>
                            </a>
                        </li>
                        <li class="list-inline-item menu-item">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_mchislo.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Магическое число</p>
                            </a>
                        </li>
                        <li class="list-inline-item menu-item">
                            <a href="#" class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_masknum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Подбор по маске</p>
                            </a>
                        </li>
                    </ul>
                </div>
{#                <div class="card-row">#}
{#                    <input type="text" value="hello"/>#}
{#                </div>#}
            </div>
        </div>
{% endblock %}