{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'choose_phone/css/filter.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Подбор номера</h1>
                    <p class="card-text">{{ text }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Федеральные ({{ metal_count }})</h3>
                        </div>
                        <div class="col-sm-12">
                            <div class="row"><h4 class="{{ metal_class }}">{{ metal_name }}
                                ({{ metal_count }})</h4>
                            </div>
                            <div class="row">
                                <h4 class="green">0 &#8381;</h4>
                            </div>
                            <div class="row">
                                <ul class="list-group">
                                    {% for number in metal %}
                                        <li class="list-group-item">{{ number }}
                                            <div class="btn-right-part">
                                                    <img src="{% static 'choose_phone/img/icons/cart.png' %}"
                                                         class="btn-img-cart">
                                                </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}