{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'choose_phone/css/index.css' %}">
    <link rel="stylesheet"
          href="{% static 'choose_phone/css/filter.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="card-row">
                    <h1 class="card-title">Подобрать номер</h1>
                    <p class="card-text">Предлагаем подобрать вам
                        уникальный, красивый
                        номер телефона! Вы можете посмотреть все номера,
                        представленные
                        в
                        интернет-магазине или воспользоваться один из
                        способов
                        поиска
                        подходящего именно для вас красивого номера. Для
                        этого
                        воспользуйтесь предложенными алгоритмами поиска
                        номера.</p>
                </div>
                <div class="card-row">
                    <ul class="list-inline">
                        <li class="list-inline-item menu-item menu-item-first {% if id == 1 %}green-border{% endif %}">
                            <a href="{% url 'filter' 1 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_full.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Все номера</p>
                                {% if id == 1 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-inline-item menu-item {% if id == 2 %}green-border{% endif %}">
                            <a href="{% url 'filter' 2 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/lubnum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Любимое число</p>
                                {% if id == 2 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-inline-item menu-item {% if id == 3 %}green-border{% endif %}">
                            <a href="{% url 'filter' 3 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/xvost.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Красивый хвост</p>
                                {% if id == 3 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-inline-item menu-item {% if id == 4 %}green-border{% endif %}">
                            <a href="{% url 'filter' 4 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/namednum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Подбор по слову</p>
                                {% if id == 4 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-inline-item menu-item {% if id == 5 %}green-border{% endif %}">
                            <a href="{% url 'filter' 5 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_datenum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Подбор по дате</p>
                                {% if id == 5 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-inline-item menu-item menu-item-first {% if id == 6 %}green-border{% endif %}">
                            <a href="{% url 'filter' 6 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_exceptnum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Все кроме</p>
                                {% if id == 6 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-inline-item menu-item {% if id == 7 %}green-border{% endif %}">
                            <a href="{% url 'filter' 7 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_alikenum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Похожий номер</p>
                                {% if id == 7 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-inline-item menu-item {% if id == 8 %}green-border{% endif %}">
                            <a href="{% url 'filter' 8 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_mchislo.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Магическое число</p>
                                {% if id == 8 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                        <li class="list-inline-item menu-item {% if id == 9 %}green-border{% endif %}">
                            <a href="{% url 'filter' 9 %}"
                               class="menu-item-block">
                                <div class="btn-left-part">
                                    <img src="{% static 'choose_phone/img/icons/mini_masknum.png' %}"
                                         class="btn-img">
                                </div>
                                <p class="btn-paragraph">Подбор по маске</p>
                                {% if id == 9 %}
                                    <div class="btn-right-part">
                                        <img src="{% static 'choose_phone/img/icons/checked_32.png' %}"
                                             class="btn-img-check">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-row">
                    {% include embedded_template %}
                </div>
                <hr>
                <div class="card-row">
                    <div class="row">
                        <h3>Федеральные ({{ count_all }})</h3>
                    </div>
                    {% if count_all == 0 %}
                        <div class="row">К сожалению
                            номеров
                            удовлетворяющих критериям поиска не
                            найдено
                        </div>
                    {% endif %}
                    <div class="row">
                        {% if simple %}
                            <div class="col-sm-3"><h4
                                    class="simple"><a
                                    href="{% url 'filter_metal' id 'simple' %}">Простые
                                ({{ count_simple }})</a></h4>
                                <div class="row"><h4 class="green">0
                                    &#8381;</h4>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        {% for number in simple %}
                                            <li class="list-group-item">{{ number }}
                                                <div class="btn-right-part">
                                                    <img src="{% static 'choose_phone/img/icons/cart.png' %}"
                                                         class="btn-img-cart">
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if silver %}
                            <div class="col-sm-3"><h4
                                    class="silver"><a
                                    href="{% url 'filter_metal' id 'silver' %}">Серебрянные
                                ({{ count_silver }})</a></h4>
                                <div class="row"><h4 class="green">
                                    500
                                    &#8381;</h4>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        {% for number in silver %}
                                            <li class="list-group-item">{{ number }}
                                                <div class="btn-right-part">
                                                    <img src="{% static 'choose_phone/img/icons/cart.png' %}"
                                                         class="btn-img-cart">
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if platinum %}
                            <div class="col-sm-3"><h4
                                    class="platinum"><a
                                    href="{% url 'filter_metal' id 'platinum' %}">Платиновые
                                ({{ count_platinum }})</a></h4>
                                <div class="row"><h4 class="green">
                                    3000
                                    &#8381;</h4>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        {% for number in platinum %}
                                            <li class="list-group-item">{{ number }}
                                                <div class="btn-right-part">
                                                    <img src="{% static 'choose_phone/img/icons/cart.png' %}"
                                                         class="btn-img-cart">
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}