{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'choose_phone/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Подобрать номер</h1>
                    <p class="card-text">Предлагаем подобрать вам
                        уникальный, красивый
                        номер телефона! Вы можете посмотреть все номера,
                        представленные
                        в
                        интернет-магазине или воспользоваться один из способов
                        поиска
                        подходящего именно для вас красивого номера. Для этого
                        воспользуйтесь предложенными алгоритмами поиска
                        номера.</p>
                    <a href="{% url 'filter' 1 %}" class="btn btn-green">Посмотреть
                        все номера ({{ count }})</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            {% include 'choose_phone/filters/card/favorite_number.html' %}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            {% include 'choose_phone/filters/card/beautifull_tail.html' %}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            {% include 'choose_phone/filters/card/selection_by_word.html' %}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            {% include 'choose_phone/filters/card/selection_by_date.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% include 'choose_phone/filters/card/all_except_number.html' %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% include 'choose_phone/filters/card/all_except_number.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% include 'choose_phone/filters/card/magic_number.html' %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% include 'choose_phone/filters/card/mask.html' %}
        </div>
    </div>

    {% block script %}
        <script defer
                src="{% static 'choose_phone/script/filter.js' %}"></script>
    {% endblock %}
{% endblock %}