{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="{% static 'choose_phone/css/filter.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Подбор номера</h1>
                    <p class="card-text">{{ text }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Федеральные ({{ count_all }})</h3>
                        </div>
                        {% if count_all == 0 %}
                            <div class="col-sm-12">К сожалению номеров
                                удовлетворяющих критериям поиска не найдено
                            </div>
                        {% endif %}
                        {% if simple %}
                            <div class="col-sm-3"><h4 class="simple"><a
                                    href="{% url 'filter_metal' id 'simple' %}">Простые
                                ({{ count_simple }})</a></h4>
                                <div class="row"><h4 class="green">0
                                    &#8381;</h4>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        {% for number in simple %}
                                            <li class="list-group-item">{{ number }}
                                                <span class="float-right">
                                            <i class="fas fa-shopping-cart"></i>
                                            </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if silver %}
                            <div class="col-sm-3"><h4 class="silver"><a
                                    href="{% url 'filter_metal' id 'silver' %}">Серебрянные
                                ({{ count_silver }})</a></h4>
                                <div class="row"><h4 class="green">500
                                    &#8381;</h4>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        {% for number in silver %}
                                            <li class="list-group-item">{{ number }}
                                                <span class="float-right">
                                            <i class="fas fa-shopping-cart"></i>
                                            </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if platinum %}
                            <div class="col-sm-3"><h4 class="platinum"><a
                                    href="{% url 'filter_metal' id 'platinum' %}">Платиновые
                                ({{ count_platinum }})</a></h4>
                                <div class="row"><h4 class="green">3000
                                    &#8381;</h4>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        {% for number in platinum %}
                                            <li class="list-group-item">{{ number }}
                                                <span class="float-right">
                                            <i class="fas fa-shopping-cart"></i>
                                            </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}