{% load staticfiles %}
<div class="card">
    <div class="card-body">
        <div class="card-row">
            <h4 class="card-title">Подбор по дате</h4>
            <p class="card-text">Номер, содержащий цифры важной для
                вас даты, например, дня рождения или свадьбы.</p>
        </div>
        <form action="{% url 'filter' 5 %}" method="post">
            <div class="form-group">
                <label for="2" class="col-sm-12">Введите
                    дату:</label>
                <select name="" id="2" class="small-select">
                    <option value="">1</option>
                </select>
                <select name="" id="2"
                        class="small-select"></select>
                <select name="" id="2"
                        class="small-select"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-green float-left margin-bottom"
                        type="submit">Подобрать
                </button>
                <img src="{% static 'choose_phone/img/icons/datenum.png' %}"
                     class="float-right img-medium" alt="">
            </div>
        </form>
    </div>
</div>